Django==1.11.6
django-seed==0.1.7
django-webpack-loader==0.5.0
djangorestframework==3.7.0
drf-nested-routers==0.90.0
Faker==0.8.6
olefile==0.44
Pillow==4.3.0
python-dateutil==2.6.1
pytz==2017.2
reportlab==3.4.0
six==1.11.0
text-unidecode==1.0
