{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billevent</title>
</head>
<body>
    <div id="hello">
        I am a data server <br>
        <p>Serveur API pour l'application billevent du BdE INSA Lyon. Ce site ne sert pas de contenu pour navigateur, veuillez quitter cette page</p>
    </div>
    <div id="redirect">
        <h3>Cliquez ici pour revenir vers <a href="http://bde.insa-lyon.org/">le site du BdE</a></h3>
    </div>
</body>
</html>
